<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934792592663-096j1t5ocfamjkc65odrfmfe8v6c50cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934792592663-096j1t5ocfamjkc65odrfmfe8v6c50cn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>934792592663-4rq9g34f214aac1u7s3o54kh7tk2b2ov.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBN7widujQyh-K7Wwfd-4piJwCuWHf9vAU</string>
	<key>GCM_SENDER_ID</key>
	<string>934792592663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fit.net</string>
	<key>PROJECT_ID</key>
	<string>fitnet-79c45</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnet-79c45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934792592663:ios:487c1c3aa8e26280fa0b52</string>
	<key>DATABASE_URL</key>
	<string>https://fitnet-79c45.firebaseio.com</string>
</dict>
</plist>